<form [formGroup]="searchForm" class="search-form">
  <mat-form-field appearance="fill"  style="width: 100%;">
    <mat-label>Search</mat-label>
    <input matInput #search formControlName="search" />
    <mat-hint *ngIf="firstNameAutofilled">Autofilled!</mat-hint>
    <button
      [disabled]="!searchForm.valid"
      mat-raised-button
      color="primary"
      class="search-btn"
      type="button"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
      Search
    </button>
  </mat-form-field>
</form>

<ng-container *ngIf="items">
  <app-pokemon-lists [items]="items"></app-pokemon-lists>
</ng-container>
